*{
   
    background-color:rgb(198, 238, 238);
    margin: 2% 10%; 
   /* text-align: center; */
}
div{
    align-content:center;
    text-align:start;
        margin:4% 10% 10% 10%;
        /* margin-bottom: 5%; */
        /* padding: */
        /* border-left-width: 20%; */
    
        
    }
    .m{
        /* margin: %; */
        background-color: rgb(244, 97, 209);
}

.c{
    background-color: yellow;
    text-align: center;
    height: 20vh;  
}
.p{
    background-color: blueviolet;
}
.b{
    background-color: chocolate;
}
span{
    font-size: x-large;
    color: rgb(191, 116, 24);
    }


