main {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 8%;
  gap: 5% 10px;
}

img {
  width: 20vw;
  height: 60vh;
}
.row1 {
  display: inline;
  text-align: center;
  align-items: center;
  font-size: 18px;
}
h2 {
  font-weight: lighter;
}
h4 {
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.534);
}
a:hover {
  background-color: rgb(10, 10, 10);
  color: white;
  padding: 15px;
}
span {
  text-align: center;
  margin-left: 45%;
  font-size: x-large;
  word-spacing: 20px;
}
a {
  text-decoration: none;

  color: black;
}
.about {
  text-align: center;
  font-size: 30px;
  margin: 0%;
  font-family: "Times New Roman", Times, serif;
}

.img2 {
  width: 50%;
  height: 40%;
}
footer {
  display: grid;
  grid-template-columns: auto auto auto;
  margin: 8%;
  gap: 0px 100px;
}
.img3 {
  width: 50px;
  height: 50px;
}
@media screen and (width>600px) and (width<800px){

  body{
    background-color: yellow;
  }
  main{
    display: grid;
    grid-template-columns: auto auto;
    margin: 0%;
  }
  img{
    width: 100%;
    margin-left: 0px;
  }
}

@media only screen and (max-width: 600px){

  main{
    display: grid;
    grid-template-columns: auto ;
    gap: 100px;
    margin: 0%;

  }
  body{
    background-color: rgb(160, 31, 31);
  }
  img{
    width: 100%;
   }   
 h2{
    font-size: xx-large;
  }
  h4{
    font-size: x-large;
  }
}