
.container {
  background-color: rgb(213, 216, 216);
  height: 85vh;
  position: sticky;
  top: 25vh;
  width: 30vw;
  border: 5px solid rgb(8, 8, 8);
    border-radius: 8px;
  margin-left: 35vw;
  margin-top: 5vh;
  overflow:scroll;
  background-image: url(https://www.bhmpics.com/downloads/telegram-wallpaper/1.3d8c2f2c82c1c9ef1e27be645cd1aa17.jpg);
  background-size: 100% 90%;
  z-index: 4;
  background-position:40%;
}

img{
    width: 60%;
    height: 30vh;
}
.img1 {
  width: 12%;
  height: 90%;
  margin-left: 0%;
  padding-top: 0%;
  position: absolute;
  left: 2%;
  top: 3%;
  background-color: white;
}
span::after{
    content: "📞 🎥 ≣";
    margin-left: 30%;
    font-size: x-large;
}


.title {
  font-size: xx-large;
  position: sticky;
  top: 0%;
  left: 0%;
  background-color: rgb(78, 128, 177);
  width: 100%;
  color: rgb(187, 189, 189);
  height: 7vh;
  text-indent: 18%;
}
.left {
  text-align: left;
  line-height: 2;
  color:rgb(13, 35, 159);
  margin-right: 35%;
font-size: 18px;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-style: italic;
}
.right {
  text-align: right;
  line-height: 2;
  color: rgb(28, 29, 27);
  font-size: 18px;
 margin-left: 35%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.date {
  position: sticky;
  top: 10%;
  background-color:rgba(29, 27, 27, 0.829);
  margin-right: 33%;
  margin-left: 37%;
  text-align: center;
  border-radius: 25px;
  font-size: x-large;
  color: rgb(249, 249, 249);
}

.textspace {
  background-color: antiquewhite;
  width: 28.9vw;
  height: 9%;
  position: sticky;
  bottom: 0%;
}
input{
    width: 70%;
    height: 5vh;
    border-radius: 7px;
    
}
input:hover{
  background-color: rgb(187, 166, 166);
}
.emoji::before{
    content:"🤗";
    position: sticky;
    bottom: 0%;
    font-size: x-large;
    }
    .emoji::after{
        content: "📸🎙️";
        font-size:25px;
        margin-left: 3%;
    }
    body{
      background-color: rgb(204, 213, 210);
    }
  