header {
  margin: 0%;
  height: 10%;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 4;
  background-color: rgb(239, 175, 92);
}
a{
  text-decoration: none;
}
img {
  width: 4vw;
  height: 8vh;
}
.header {
  font-size: xx-large;
  font-variant: small-caps;
  font-weight: 600;
  position: relative;
  bottom: 2vh;
  color: rgb(245, 33, 33);
}
.header2 {
  word-spacing: 10px;
  float: right;
  position: relative;
  text-decoration: none;
  right: 6%;
  top: 3vh;
  font-family: cursive;
  /* background-color: rgb(242, 200, 200); */
  font-size: x-large;
  clear: both;
}
.main {
  padding-top: 10%;
  color: rgb(156, 143, 228);
  text-align: center;
  font-size: 4em;
}
.im1 {
  width: 100%;
  height: 100%;
}
.text1 {
  position: absolute;
  bottom: 7%;
  left: 5%;
}
.text2 {
  position: absolute;
  top: 100%;
  left: 10%;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.575);
  border: 3px;
  border-radius: 5%;
  background-color: rgb(197, 244, 244);
}
.im2 {
  height: 80vh;
  width: 40vw;
  float: left;
  border-radius: 5%;
}
.main2 {
  text-align: center;
  align-items: center;
}
.text3 {
  font-size: xxx-large;
  position: absolute;
  right: 15%;
  font-weight: 600;
}
.text4 {
  position: absolute;
  padding-top: 20%;
  right: 10%;
  font-size: x-large;
}
.main3 {
  position: absolute;
  margin-top: 30%;
  right: 27%;
  font-size: x-large;
}
.text5 {
  position: absolute;
  font-size: xx-large;
  font-weight: 600;
  padding-top: 0%;
  margin-top: 43%;
}
.main4 {
  position: absolute;
  margin-top: 50%;
}
.main5 {
  position: absolute;
  font-size: xx-large;
  text-align: center;
  left: 8vw;
}
.text7 {
  position: absolute;
  font-size: large;
  margin-top: 49%;
  left: 0vw;
}
.main6 {
  position: absolute;
  margin-top: 50%;
}

.main7 {
  position: absolute;
  font-size: xx-large;
  text-align: center;
  left: 33vw;
}
.text8 {
  position: absolute;
  font-size: large;
  margin-top: 49%;
  left: 0vw;
}

.main8 {
  position: absolute;
  margin-top: 50%;
}

.main9 {
  position: absolute;
  font-size: xx-large;
  text-align: center;
  left: 61vw;
}
.text9 {
  position: absolute;
  font-size: large;
  margin-top: 49%;
  left: 0vw;
}
.main9 {
  position: absolute;
  margin-top: 50%;
}

.main10 {
  position: absolute;
  font-size: xx-large;
  text-align: center;
  left: 20vw;
}
.text10 {
  position: absolute;
  font-size: large;
  margin-top: 49%;
  left: 0vw;
}
.im3 {
  margin: 3%;
  width: 28vw;
  height: 80vh;
  float: left;
  padding-top: 0%;
}
.kitchens {
  position: absolute;
  left: 13%;
  margin-top: 13%;
  font-size: xx-large;
  color: rgb(248, 118, 118);
  /* color: rgb(243, 11, 11)8, 58); */
}
.im4 {
  margin: 3%;
  width: 25vw;
  height: 80vh;
  float: left;
}
.bath {
  position: absolute;
  left: 48%;
  margin-top: 13%;
  font-size: xx-large;
  color: rgb(248, 118, 118);
}
.interiors {
  position: absolute;
  left: 80%;
  margin-top: 13%;
  font-size: xx-large;
  color: rgb(248, 118, 118);
}
.im5 {
  margin: 3%;
  width: 25vw;
  height: 80vh;
  float: right;
}
.Service {
  position: absolute;
  text-align: center;
  font-size: xx-large;
  font-weight: 600;
  background-color: black;
  color: bisque;
  box-sizing: border-box;
  border-style: groove;
}
.image {
  position: absolute;
  padding-left: 0%;
  padding-top: 0%;
  height: 30vh;
  width: 15vw;
}

.imagetext1 {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  text-align: center;
  font-size: large;
  margin-top: 20%;
  left: 4vw;
}
.imagetext2 {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  text-align: center;
  font-size: large;
  margin-top: 20%;
  left: 35vw;
}
.imagetext3 {
  font-size: xx-large;
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  text-align: center;
  font-size: large;
  margin-top: 20%;
  left: 65vw;
}
.imgspan1 {
  font-size: xx-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  color: brown;
  text-align: center;
  /* font-size: large; */
  margin-top: 28%;
  left: 10vw;
  font-weight: 600;
}
.imgspan2 {
  font-size: xx-large;
  color: brown;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  position: absolute;
  text-align: center;
  /* font-size: large; */
  margin-top: 28%;
  left: 42vw;
  font-weight: 900;
}
.imgspan3 {
  font-size: xx-large;
  color: brown;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: absolute;
  text-align: center;
  /* font-size: large; */
  margin-top: 28%;
  left: 72vw;
  font-weight: 900;
}
.div1 {
  display: inline-block;

  position: relative;
  margin-top: 40%;
  left: 30%;
  /* background-color: blue; */
}

.logo {
  width: 70%;
  height: 70%;
}
* {
  background-color: rgb(242, 248, 248);
}
