body {
    background-color: rgb(245, 242, 242);
}

.maincontent{
    display: flex;
    gap: 20px 20px;
    flex-wrap: wrap;
    align-content:center;
     margin-top: 10%; 
     margin-left: 15%;  
   }
.container {
  background-color:white;
  border: 2px solid rgb(216, 211, 211);
  width: 22vw;
  border: none;
  height: 27vh;
  display: flex;
  flex-direction: column;
  row-gap: 23px;
  position: relative;
  left: 0px;
  padding: 0px;
  box-shadow: 1px 1px 1px 1px rgb(162, 162, 166);
}

img {
  width: 76px;
  height: 58px;
  cursor: pointer;
  padding-top: 5%;
}

.content2 {
  display: inline-block;
  text-indent: 0px;
  justify-content: flex-start;
  position: absolute;
  left: 40px;
  top: 1px;
  
}
.star::after {
  content: "★★★★";
  color: rgb(5, 156, 13);
  font-size: 20px;
}
.content3 {
  font-weight: 600;
  margin-left: 4%;
}
.content4 {
  margin-left: 4%;
  justify-content: space-between;
  align-items: end;
}
span {
  color: rgb(33, 131, 211);
  text-indent: 70px;
  position: absolute;
  right: 23px;
}
